@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ss {
  width: 50%;
  box-sizing: border-box;
  display: none;
}
.hamburger {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35px;
  right: 25px;
  cursor: pointer;
  z-index: 999;
}
.hamburger .burger {
  transition: all 0.3s;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  display: inline-block;
  background-color: silver;
}
.focus .burger {
  transition: all 0.3s;
}
.focus .burger:first-of-type {
  background-color: rgb(255, 255, 255);
  transition-delay: 0.4s;
  transform: translate3d(0px, 0px, 0px) rotateZ(45deg);
  transform-origin: left top;
}
.focus .burger:nth-of-type(2) {
  opacity: 0;
}
.focus .burger:last-of-type {
  background-color: rgb(255, 255, 255);
  transition-delay: 0.4s;
  transform: translate3d(0px, 0px, 0px) rotateZ(-45deg);
  width: 40px;
  transform-origin: left bottom;
}

.flex {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  opacity: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 100%;
  transition: 0.5s;
  box-shadow: 100px 100px 100px rgba(47, 57, 251, 0.1);
  background-color: rgba(47, 57, 251, 0.2);
}
.content .navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid rgb(229, 233, 228);
  border-radius: 5px;
  width: 300px;
  height: 300px;
  padding-left: 0px;
  text-align: center;
}

.content .navigation a {
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.2s;
}
.content .navigation a:before {
  content: '';
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: -150px;
  bottom: 0px;
  height: 3px;
  background-color: rgba(201, 201, 207, 1);
  transition: all 0.3s;
}
.content .navigation a:hover {
  color: rgb(255, 255, 255);
}
.content .navigation a:before a:hover {
  left: 0px;
}
.show {
  right: 0%;
  opacity: 1;
}



